# Base de datos Neon (PostgreSQL serverless)
DATABASE_URL="postgresql://usuario:password@ep-nombre.us-east-2.aws.neon.tech/lobemo?sslmode=require"

# Auth (NextAuth v5)
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"
